[Unit]
Description=Tiny Care Bot
After=network.target

[Service]
WorkingDirectory=/usr/bin/tcb
ExecStart=/usr/bin/python3 . --logFormat='SHORT'
Restart=on-failure

[Install]
WantedBy=multi-user.target
