[Unit]
Description=Bot
After=network.target

[Service]
User=streaks
WorkingDirectory=/opt/streaks
ExecStart=/usr/local/bin/pipenv run python streaks bot
EnvironmentFile=/etc/environment
Restart=always
RestartSec=500ms
StartLimitInterval=0

[Install]
WantedBy=multi-user.target