[Unit]
Description=Sender
After=network.target

[Service]
User=tcb
Type=oneshot
WorkingDirectory=/opt/tcb
ExecStart=/usr/local/bin/pipenv run python tcb/cmd_send.py
EnvironmentFile=/etc/environment
