[Unit]
Description=Sender
After=network.target

[Service]
User=streaks
Type=oneshot
WorkingDirectory=/opt/streaks
ExecStart=/usr/local/bin/pipenv run python streaks send
EnvironmentFile=/etc/environment
